<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- PlayList Tab -->
  <ion-tab title="PlayList" icon-off="ion-headphone" icon-on="ion-headphone" href="#/tab/playList">
    <ion-nav-view name="tab-playlist"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="Search Music" icon-off="ion-android-search" icon-on="ion-android-search" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>


</ion-tabs>
